.fieldset {
    padding:0 1em 0.5em;
    margin:1.5em 0 0.8em;
    border:1px solid #0C9;
    border-radius:5px;
}
.fieldset>.legend {
	position:relative;
	top:-0.9em; left:1em;
	padding:0.27em 0.8em;
	line-height:1.1em;
	display:inline-block;
	border:1px solid #0C9;
	border-radius:0.8em;
	color:white;
	background-color:#0C9;
	white-space:pre;
}
/* 1st <p> tag in legend */
.fieldset>.legend+p { margin-top: 0 }
/* field+legend in a div */
div:has(>.fieldset:first-child) { padding:0 0.5em }

/* show/hide fieldset + legend */
.fieldset.hidden { border-radius:5px 5px 5px 0 }
.hidden { display: none; padding:0 0.8em 0.8em; margin-bottom:0 }
.hidden label { cursor:pointer }
.hidden+p label { cursor:pointer; color:white; background:#0D8; border-radius: 8px; padding: 0.25em 0.5em }
input:checked + .hidden { display: block }
input:checked + .hidden+p { margin-top:0px }
input:not(:checked) + .hidden+p label:before { font-weight:bold; content:"展開 " }
input:checked + .hidden+p label:before { font-weight:bold; content:"隠藏 " }
input:checked + .hidden+p label { border-radius: 0 0 8px 8px; padding: 1px 0.5em 0.25em }

